/**
 * fil: css/style.css
 **/

/* google fonts her: */
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap');

body {
	background-color: darkviolet; /* bg farve */
	background-image: url(../images/DSC07749.JPG); /* bg img */
	color: #ffffff; /* txt farves */
	background-size: cover;
}

p {
	color: chartreuse;
	background-color: #000;
	width: 33%;
	font-size: large;
	
	/* her bruges google font Coda Caption */
	font-family: 'Coda Caption', sans-serif;
	
	padding: 24px;
	margin: 48px;
}

/* en id # */
#en {
	position: absolute;
	top: 123px;
	left: 57px;
	color: darkorange;
	transform: rotate(-36deg);
	width: 258px;
}

.to {
	color: fuchsia;
	margin-left: 300px;
	
	/* relativ pos */
	position: relative;
	left: 417px;
}

#galleriKasse{
	background-color: #fff;
}

.galleri {
	position: relative;
	float: right;
	width: 250px;
	height: auto;
	margin: 10px;
} 

nav {
	position: fixed;
	background-color: #000;
	color: #fff;
	width: 100%;
	left: 0px;
}
nav ul li a {
	text-decoration: none;
	color: aquamarine;
	width: 17%;
}
nav a {
	width: 23%;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li {
	display: inline;
	}

